@import 'global';
@import 'animations';

:root {
  --primary: #92278f;
  --secondary: #00a79f;
  --light: #fff;
  --dark: #000;
}

.navbar {
  width: 100%;
  padding: 10px 0px;
  background-color: var(--light);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all .3s linear;

  &.scrolled {
    padding: 5px 0px;
    box-shadow: 0px 0px 10px rgba($color: #92278f, $alpha: 0.3);

    .brand-name img {
      height: 70px !important;
    }
  }

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    .hamburger {
      display: none;
      .line { 
        width: 30px;
        height: 3px;
        background: linear-gradient(45deg, #92278f 0%, #92278f 100%);
        display: block;
        margin: 8px auto;
        transition: all 0.3s ease-in-out;
      }

      &.active {
        transition: all 0.3s ease-in-out;
        transition-delay: 0.6s;
        transform: rotate(45deg);

        .line {
          &:nth-child(2) {
            width: 0px;
          }

          &:nth-child(1), &:nth-child(3) {
            transition-delay: 0.3s;
          }

          &:nth-child(1) {
            transform: translateY(6.5px);
          }

          &:nth-child(3) {
            transform: translateY(-15px) rotate(90deg);
          }
        }
      }
    }

    .brand-name img {
      width: 120px;
      height: 100px;
      object-fit: contain;
      transition: all .3s linear;
    }

    .navbar-nav {
      flex-direction: row;

      li {
        margin-inline-end: 20px;

        &:last-child {
          margin: 0px !important;
        }

        a {
          color: var(--dark);
          font-size: 15px;
          font-weight: 700;

          &:hover, &.active {
            color: var(--primary);
          }
        }
      }
    }

    .links-contain {
      display: flex;
      align-items: center;
      align-content: center;

      li {
        margin-inline-end: 10px;

        &:last-child {
          margin-inline-end: 0px !important;
        }

        a {
          width: 40px;
          height: 40px;
          background-color: var(--primary);
          border-radius: 4px;
          display: flex;
          align-content: center;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          img {
            width: 24px;
            height: 24px;
            object-fit: contain;
          }

          &:hover {
            img {
              animation: fadeInLeft .4s linear;
            }
          }
        }
      }
    }
  }
}

header {
  padding-top: 70px !important;

  .item{
    position: relative;
    background-color: #222;
    width: 100%;
    display: block !important;
    height: 500px !important;

    .header-img{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      object-fit: cover;
    }
  }

  .swiper-slide-active .item{
    .header-img , p{
      animation: fadeInRight 1s both;
    }

    h1 {
      animation: fadeInDown 1s both;
    }

    .btn-contain {
      animation: fadeInUp 1s both;
    }
  }

  .swiper-pagination {
    width: fit-content;
    right: 10%;
    left: unset;
    bottom: 50px;
    color: #fff;
    z-index: 6;

    span{
      font-size: 40px;
      font-family: 'Oswald', sans-serif;
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: #fff;
      color: transparent;
      padding: 0 5px;
    }

    .swiper-pagination-current{
      font-size: 50px;
      -webkit-text-stroke-color: var(--primary);
    }
  }
}

.banners {
  .image-content {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    overflow: hidden;

    &.large-img {
      height: 400px;
    }

    &.small-img {
      height: 250px;
    }

    img {
      width: 100%;
      height: 100%;
      transition: all .3s linear;
      object-fit: cover;
    }

    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
}

.products, .opinion {
  &.bk-shape {  
    background-color: #f8f8f8;
  }

  .swiper-button-next, .swiper-button-prev {
    top: unset !important;
    transform: translate(0px) !important;
    position: absolute;
    bottom: 0px !important;
  }

  .swiper-button-prev{
    left: unset !important;
    right: calc(50% - 45px) !important;
  }

  .swiper-button-next{
    left: calc(50% - 45px) !important;
    right: unset !important;
  }

  .swiper-container {
    padding: 15px 0px 60px 0px !important;
  }

  .flex-data {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    h1 {
      color: #000;
      font-size: 20px;
      font-weight: 900;
      margin-bottom: 0px;
    }

    .form-contain {
      width: 200px;

      .form-group {
        width: 100%;
        height: 50px;
        position: relative;
        z-index: 9;

        img {
          width: 24px;
          height: 24px;
          object-fit: contain;
          position: absolute;
          right: 5px;
          top: calc(50% - 12px);
          z-index: 9;
        }

        .form-control {
          padding-inline-start: 30px;
          width: 100%;
          height: 100%;
          border: 1px solid rgba($color: #92278f, $alpha: 0.4);
          border-radius: 10px;
        }
      }
    }
  }

  .buttons-contain {
    justify-content: center;
  }
}

.about-us {
  .heading {
    margin-bottom: 30px;

    h1 {
      margin: 0px !important;
    }
  }

  .image-content {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: all .3s linear;
    }

    &:hover img {
      transform: scale(1.5);
    }
  }

  .content {
    margin-top: 15px;

    .heading {
      text-align: unset !important;
      margin-bottom: 20px;
      h1 {
        color: var(--secondary);
        margin: unset !important;
      }
    }

    p {
      color: #808080;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.8rem;
    }

    .list {
      width: 100%;
      li {
        width: 100%;
        position: relative;
        color: #808080;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.8rem;
        padding-inline-start: 20px;
        margin-bottom: 20px;

        &::before {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: var(--secondary);
          border-radius: 3px;
          transform: rotate(45deg);
          right: -6px;
          top: 5px;
        }
      }
    }
  }
}

.checkout {
  .checkout-content {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.05);
    padding: 25px 30px;
    
    .heading {
      margin-bottom: 20px !important;
      text-align: unset !important;
      h1 {
        color: var(--secondary);
        margin: unset !important;
      }
    }

    h2 {
      color: #333;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    p {
      color: #808080;
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    .form-control{
      border-radius: 8px !important;
      appearance: auto !important;
    }
  }

  &.E-payement {
    .checkout-content {
      .button-contain {
        a {
          width: 176px !important;
        }
      }
    }
  }
}

.product-details {
  .prodcutDetailsSwiper{
    margin: 0px !important;
    overflow: hidden;

    .swiper-slide{
      width: 100%;
      height: 373px;
      
      img{
        width: 100% !important;
        height: 100% !important;
        border-radius: 20px !important;
        object-fit: cover !important;
      }
    }
  }

  .prodcutDetailsThumbsSlider{
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    z-index: 99;
    border-radius: 20px !important;

    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 105px;
      top: 0;
      left: 0px;
      z-index: 2;
      pointer-events: none;
      border-radius: 20px;
    }

    &::after{
      left: 0px;
    }

    &::before{
      right: 0px;
      background: linear-gradient(-90deg , #92278f , transparent);
    }

    .swiper-slide{
      width: 100%;
      height: 105px;
      cursor: pointer;
        
      img{
        width: 100% !important;
        height: 100% !important;
        border-radius: 20px !important;
        object-fit: cover !important;
      }
    }

    .swiper-button-lock{
      display: block !important;
    }

    .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
      opacity: 1 !important;
    }
  }

  .add-data {
    width: 100%;
    height: 50px;
    border: 1px solid #92278f;
    border-radius: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    .button-add {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      background-color: transparent;

      img {
        width: 25px;
        height: 24px;
        object-fit: contain;
        filter: invert(28%) sepia(72%) saturate(1558%) hue-rotate(350deg) brightness(93%) contrast(82%);
      }
    }

    .add-input {
      width: calc(100% - 100px);
      background-color: transparent;
      height: 100%;
      border: 0px !important;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      text-align: center;
    }
  }

  .form-contain {
    width: 100%;

    .form-group {
      width: 100%;
      height: 50px;
      position: relative;
      z-index: 9;

      img {
        width: 24px;
        height: 24px;
        object-fit: contain;
        position: absolute;
        right: 5px;
        top: calc(50% - 12px);
        z-index: 9;
      }

      .form-control {
        padding-inline-start: 30px;
        width: 100%;
        height: 100%;
        border: 1px solid rgba($color: #92278f, $alpha: 0.4);
        border-radius: 10px;
      }
    }
  }

  .content {
    width: 100%;
    padding: 30px 15px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.04);
    border-radius: 10px;

    h1 {
      color: #000;
      font-size: 18px;
      font-weight: 900;
      margin: 0px;
    }

    .flex-data {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      margin: 20px 0px;
      padding: 10px 0px;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;

      .flex-price {
        display: flex;
        align-items: center;
        align-content: center;

        .title {
          color: #000;
          font-size: 15px;
          font-weight: 700;
          margin-inline-end: 10px;
          margin-bottom: 0px;
        }
      }

      .price {
        color: #92278f;
        font-size: 15px;
        font-weight: 700;
        margin: 0px;
      }

      .after {
        color: #808080;
        text-decoration: line-through;
        font-size: 15px;
        font-weight: 700;
        margin: 0px;
      }

      .offer {
        padding: 10px 20px;
        background-color: #8CC540;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        border-radius: 5px;
      }
    }

    h3 {
      color: #000;
      font-size: 18px;
      font-weight: 700;
    }

    .desc {
      color: #808080;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.8rem;
      margin: 0px;
    }

    .list {
      margin: 20px 0px;

      li {
        margin-bottom: 10px;

        &:last-child {
          margin: 0px;
        }

        a {
          display: flex;
          align-items: center;
          align-content: center;

          .title {
            color: #92278f;
            font-size: 15px;
            font-weight: 700;
            margin-inline-end: 10px;
          }

          .data {
            color: #333;
            font-size: 15px;
            font-weight: 500;
          }
        }
      }
    }

    .button-contain {
      width: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;

      .fav {
        width: 50px;
        height: 50px;
        background-color: #fff;
        border: 1px solid #92278f;
        background-color: var(--primary);
        border-radius: 50%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;

        img {
          width: 50%;
          height: 50%;
          object-fit: contain;
        }

        &:hover {
          background-color: #92278f;

          img {
            animation: tada .4s linear;
          }
        }
      }

      .custom-btn {
        width: calc(100% - 60px) !important;
        height: 50px;
        border: 0px;
        outline: none;
        border-radius: 50px;
        background: linear-gradient(90deg, #92278f, #92278f) !important;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        font-size: 15px;
        font-weight: 500;
        color: #fff;
    
        &:hover {
          background: linear-gradient(90deg, #92278f, #92278f) !important;
        }
  
        &:last-child {
          margin-inline-start: 15px !important;
        }
      }
    }

    .buttons-contain {
      .btn-contain {
        width: unset !important;
        padding: 15px 10px !important;
        margin-top: 10px;
        min-width: 120px !important;
      }
    }
  }
}

.profile-page {
  .profile-nav {
    width: 100% !important;
    .nav {
      width: 100%;
      background-color: #fff;
      box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.06);
      border-radius: 15px;
      overflow: hidden;
  
      .nav-item {
        width: 100%;
        border-bottom: 1px solid #ddd;
  
        .nav-link {
          width: 100%;
          padding: 20px 10px;
          display: flex;
          align-items: center;
          align-content: center;
          
          img {
            width: 25px;
            height: 25px;
            object-fit: contain;
            margin-inline-end: 10px;
          }
  
          span {
            color: var(--dark);
            font-size: 15px;
            font-weight: 500;
          }
  
          &.active, &:hover {
            background-color: var(--secondary) !important;
  
            img {
              filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
            }
  
            span {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .tab-pane {
    width: 100%;
    padding: 15px 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.06);

    .profile-avatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 2px solid var(--secondary);
      margin: auto;
      cursor: pointer;
      position: relative;
      background-size: cover !important;
      background-position: center !important;
      background-repeat: no-repeat !important;

      input {
        position: absolute;
        bottom: 0;
        left: 64%;
        background-color: #fff;
        border-radius: 30px;
        display: inline-block;
        color: #222;
        width: 50px;
        height: 50px;
        line-height: 50px;
        cursor: pointer;
        border: none;
        opacity: 0;
        z-index: 3;
      }
      
      button {
        width: 45px;
        height: 45px;
        box-shadow: 0px 0px 10px #ddd;
        background-color: var(--primary);
        color: #fff;
        border-radius: 50%;
        text-align: center;
        cursor: pointer !important;
        border: 1px solid #eee;
        position: absolute;
        right: 2px;
        bottom: 0px;
        cursor: pointer;
        i {
          position: relative;
          top: 1px;
          cursor: pointer !important;
        }
      }
    }

    .buttons-contain {
      justify-content: center !important;
    }

    .address-contain {
      width: 100%;
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      padding: 15px 10px;
      border-radius: 20px;
      justify-content: space-between;
      background-color: #f7f7f7;

      .image-content {
        width: 50px;
        height: 50px;
        background-color: var(--secondary);
        border-radius: 50%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;

        img {
          width: 24px;
          height: 24px;
          object-fit: contain;
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
        }
      }

      .data-list {
        width: calc(100% - 60px);

        li {
          width: 100%;
          display: flex;
          align-items: center;
          align-content: center;
          margin-bottom: 15px;

          &:last-child {
            margin: 0px;
          }

          span {
            font-size: 15px;
            display: block !important;

            &.title {
              font-weight: 700;
              color: var(--secondary);
              margin-inline-end: 10px;
            }

            &.data {
              font-weight: 500;
              color: var(--dark);
            }
          }

          .btn-data {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;

            &:first-child {
              margin-inline-end: 10px;
            }
            
            img {
              width: 24px;
              height: 24px;
              object-fit: contain;
            }
          }
        }
      }
    }

    .nav {
      display: flex;
      flex-direction: row !important;
      align-items: center;
      align-content: center;
      border: 0px !important;
      margin-bottom: 20px !important;
  
      li {
        margin-inline-end: 10px;
        border: 0px !important;
  
        a {
          padding: 10px 15px;
          width: 150px !important;
          height: 50px;
          border: 0px;
          outline: none;
          border-radius: 50px;
          background: #fff;
          border: 1px solid var(--secondary);
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          font-size: 15px;
          font-weight: 500;
          color: var(--primary);
      
          &:hover, &.active {
            border-radius: 50px;
            background: linear-gradient(90deg, #92278f, #92278f) !important;
            color: #fff;
          }
        }
      }
    }
  }
  
}

.table-resposive {
  width: 100%;
  overflow-x: scroll;
  
  table {
    width: 100%;
    th {
      background-color: #F6FAFC;
      color: var(--secondary);
      font-size: 13px;
      font-weight: 900;
    }
    th, td {
      border: 1px solid #ddd;
      text-align: center;
      height: 50px;
      padding: 10px;
      vertical-align: middle;
      min-width: 140px;
    }

    td {
      background-color: #fff;
      font-size: 13px;
      font-weight: 500;
      text-align: center;
      color: #000;

      .product-img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
      }

      .product-num {
        width: 140px;
        height: 40px;
        position: relative;
        z-index: 9;
        margin: auto !important;
        border: 1px solid #f4f7fc;

        .product-input {
          width: 100%;
          height: 100%;
          background-color: transparent;
          border: 0px;
          text-align: center;
          color: #000;
          font-size: 15px;
        }

        .num-btn {
          width: 15px;
          height: 15px;
          position: absolute;
          top: 50%;
          display: flex;
          align-items: center;
          align-content: center;
          transform: translateY(-50%);

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }

          &.add {
            left: 10px;
          }

          &.min {
            right: 10px;
          }
        }
      }

      .delete-btn {
        width: 25px;
        height: 25px;
        object-fit: contain;
      }
    }
  }
}

.cart {
  .button-contain {
    a {
      margin-inline-end: 15px;
      width: fit-content !important;
      padding: 20px 25px;
  
      &:nth-child(2) {
        background: #EC3737 !important;
        border: 1px solid #EC3737;
  
        &:hover {
          background: transparent !important; 
          color: #EC3737;
        }
      }
    }
  }

  .nav {
    display: flex;
    align-items: center;
    align-content: center;
    border: 0px !important;

    li {
      margin-inline-end: 10px;

      a {
        padding: 10px 15px;
        min-width: 163px !important;
        height: 50px;
        border: 0px;
        outline: none;
        border-radius: 50px;
        background: #fff;
        border: 1px solid #92278f;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        font-size: 15px;
        font-weight: 500;
        color: #92278f;
    
        &:hover, &.active {
          border-radius: 50px;
          background: linear-gradient(90deg, #92278f, #92278f) !important;
          color: #fff;
        }
      }
    }
  }
}

.discount-shape {
  width: 100%;
  padding: 30px 15px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: .05);
  border-radius: 15px;

  p {
    color: #000;
    font-size: 18px;
    font-weight: 900;
    margin: 0px !important;
  }

  .form-contain .form-group {
    width: 100%;
    height: 50px;
    position: relative;
    margin: 15px 0px !important;

    .form-control {
      width: 100%;
      height: 100%;
      background-color: #fff;
      border: 1px solid #92278f;
      border-radius: 50px;
      padding: 0px 20px;
      color: #000;
      font-size: 15px;
      font-weight: 500;
      padding-inline-end: 120px !important;

      &::placeholder {
        font-size: 13px;
        font-weight: 500;
        color: #888;
      }
    }

    .search-btn {
      width: 100px;
      height: 40px;
      border: 0px;
      outline: none;
      border-radius: 50px;
      background: linear-gradient(90deg, #92278f, #92278f);
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      font-size: 15px;
      font-weight: 500;
      color: #fff;
      position: absolute;
      top: calc(50% - 20px) ;
      left: 5px;

      &:hover {
        background: linear-gradient(90deg, #92278f, #92278f);
      }
    }
  }

  span {
    color: #92278f;
    font-size: 15px;
    font-weight: 700;
  }

  .flex-data {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .button-contain {

    a {
      width: 100% !important;
    }
  }
}

.login {
  width: 100%;
  padding: 150px 0px 50px 0px;
  background-color: #fff;
  position: relative;
  z-index: 9;

  .login-contain {
    width: 100%;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.04);
    overflow: hidden;
    background-color: #fff;

    .data {
      width: 100%;
      padding: 20px 25px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .contain {
      width: 100%;
      height: 100%;
      padding: 30px 15px;
      background-color: #f4f7fc;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;

      img {
        width: 200px;
        height: 80px;
        object-fit: contain;
      }

      h1 {
        color: var(--secondary);
        font-size: 28px;
        font-weight: 900;
        margin: 20px 0px;
      }
      
      p {
        color: #333;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.8rem;
      }
    }

    h2 {
      color: #333;
      font-size: 25px;
      font-weight: 900;
      margin-bottom: 20px;
    }

    h3 {
      color: var(--secondary);
      font-size: 15px;
      font-weight: 900;
      margin: 10px 0px;
      text-align: center;
    }

    .socail-media {
      width: 100%;
      justify-content: center;
      display: flex;
      align-items: center;
      align-content: center;
      margin-top: 20px;
      padding-bottom: 20px !important;

      li {
        margin-inline-end: 15px;

        &:last-child {
          margin: 0px;
        }

        a {
          padding: 10px 12px;
          background-color: #fff;
          border-radius: 4px;
          box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.05);

          img {
            width: 24px;
            height: 24px;
            object-fit: contain;
            opacity: .3;
            filter: invert(28%) sepia(72%) saturate(1558%) hue-rotate(350deg) brightness(93%) contrast(82%);
            transition: all .3s linear;
          }

          span {
            color: var(--secondary);
            font-size: 15px;
            font-weight: 500;
            margin-inline-start: 9px;
          }

          &:hover img {
            opacity: 1;
            animation: tada .4s linear;
          }
        }
      }
    }
  }

  .forget_pass {
    font-size: 15px;
    font-weight: 500;
    color: #000 !important;
    margin: 10px 0px;
  }

  .btn-contain {
    width: 100% !important;
    margin: 10px 0px 10px 0px;
  }

  .form-contain, .form-data {
    .form-group{
      position: relative;
  
      .form-control{
        // padding: 0.375rem 0.75rem 0.375rem 2rem;
        border: 1px solid #808080;
        background-color: #fff;
        border-radius: 50px;
        color: #333;
        &::placeholder{
          color: #333;
        }
      }
  
      &.form-floating>label {
        padding: .8rem 1rem;
      }
    }
  
    .flex-data {
      width: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
    }
  
    textarea {
      height: 100px !important;
      border-radius: 5px !important;
      resize: none !important;
    }
  
    .radio-lable {
      width: 180px;
      height: 50px;
      margin-inline-end: 10px;
      cursor: pointer;
  
      &:last-child {
        margin: 0px !important;
      }
  
  
      input[type="radio"],
      input[type="checkbox"],
      input[type="file"] {
        display: none;
        cursor: pointer;
        &:checked {
          &+ label {
            background-color: #008BD2;
            color: #fff;
            
            &::before {
              border: 5px solid #fff;
            }
  
            &::after {
              filter: invert(100%) sepia(100%) saturate(25%) hue-rotate(358deg) brightness(105%) contrast(107%);
            }
          }
        }
      }
  
      label {
        position: relative;
        color: #0e76bd;
        font-size: 12px;
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        text-align: center;
        border: 1px solid #008BD2;
        border-radius: 5px;
        padding: 10px 10px;
  
        &::before {
          content: '';
          width: 15px;
          height: 15px;
          border: 2px solid #008BD2;
          transition: all .3s linear;
          margin-inline-end: 10px;
          border-radius: 50%;
        }
      }
  
      &.Upload {
        label {
          flex-direction: row-reverse !important;
          justify-content: flex-end !important;
  
          &::After {
            content: '';
            width: 15px;
            height: 15px;
            background: url('../images/upload.png') center/ contain no-repeat;
            transition: all .3s linear;
            margin-inline-end: 10px;
            float: left !important;
            filter: invert(40%) sepia(30%) saturate(6476%) hue-rotate(177deg) brightness(95%) contrast(101%);
          }
  
          &::before {
            display: none;
          }
        }
      }
    }
  
    input , 
    select{
      height: 50px !important;
    }
    .form-floating > label {
      color: #666;
    }
    .form-floating > textarea {
      height: auto !important;
    }
    .show_pass {
      position: absolute;
      top: 15px;
      left: 25px;
      cursor: pointer;
      color: #888;
      top: 50%;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      object-fit: contain;
      filter: invert(52%) sepia(0%) saturate(2%) hue-rotate(65deg) brightness(95%) contrast(89%);
    }
  }
}

.loader {
  width: 100%;
  padding: 20px 0px !important;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 999999;
  .spinner {
    width: 128px;
    height: 128px;
    border: 3px solid var(--secondary);
    border-bottom: 3px solid transparent;
    border-radius: 50%;
    position: relative;
    animation: spin 1s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    .inner {
      width: 64px;
      height: 64px;
      border: 3px solid transparent;
      border-top: 3px solid  var(--secondary);
      border-radius: 50%;
      animation: spinInner 1s linear infinite;
    }
  }

  
  &.hidden {
    animation: loaderSlideDown 1s;
    animation-fill-mode: forwards;
  } 
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes spinInner {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(-720deg);
  }
}

.show_pass {
  position: absolute;
  top: 15px;
  left: 25px;
  cursor: pointer;
  color: #888;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  object-fit: contain;
  filter: invert(52%) sepia(0%) saturate(2%) hue-rotate(65deg) brightness(95%) contrast(89%);
}

.single-order {
  width: 100%;

  .image-content {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content {
    width: 100%;

    .flex-data {
      width: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      margin-bottom: 20px;

      h1 {
        color: var(--secondary);
        font-size: 20px;
        font-weight: 900;
        width: fit-content;
        margin: 0px !important;
      }

      a img {
        width: 24px;
        height: 24px;
        object-fit: contain;
        margin-inline-end: 15px;
      }
    }

    .text-desc {
      font-weight: 900;
      font-size: 18px;
      color: var(--dark);
      display: block;
      margin-bottom: 15px;
    }

    p {
      color: #808080;
      font-size: 15px;
      font-weight: 500;
      line-height: 2rem;
    }

    .data-list {
      li {
        display: flex;
        align-items: center;
        align-content: center;
        margin-bottom: 15px;
        padding: 10px 0px;
        border-bottom: 1px solid #ddd;

        &:last-child {
          border: 0px !important;
        }

        .name {
          color: var(--primary);
          font-size: 15px;
          font-weight: 700;
          margin-inline-end: 10px;
        }

        .data {
          color: var(--dark);
          font-size: 15px;
          font-weight: 500;
          margin-inline-end: 10px;

          &.green {
            color: #080;
          }

          &.blue {
            color: #008BD2;
          }

          &.red {
            color: #f00;
          }
        }
      }
    }
  }
}

.checkout {
  .checkout-form{
    .payment_method{
      .form-check{
        position: relative;
        padding-right: 0;
        margin-bottom: 25px;
        .form-check-label{
          text-align: center;
          border: 1px solid #ddd;
          border-radius: 8px;
          width: 100%;
          padding: 20px;
          cursor: pointer;

          .pay_logo{
            width: 100px;
            height: 50px;
            display: block;
            margin: 0 auto 20px auto;
            object-fit: contain;
          }
        }
        
        .form-check-input{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100% !important;
          cursor: pointer;
          opacity: 0;
        }

        .form-check-input:checked ~ .form-check-label{
          border: 1px solid var(--secondary);
          
          .name{
            color: var(--secondary);
            font-weight: bold;
          }
        }
      }
    }
  }
}

.category {
  width: 100%;

  .swiper-container {
    padding: 20px 0px;
  }

  .category-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    transition: all .3s linear;

    img {
      width: 70px;
      height: 70px;
      object-fit: contain;
      margin-bottom: 20px;
    }

    h2 {
      color: var(--dark);
      font-size: 15px;
      font-weight: 700;
    }

    &:hover {
      transform: translateY(-10px);

      img {
        animation: tada .4s linear;
      }

      h2 {
        color: var(--secondary);
      }
    }
  }
}

.opinion {
  .swiper-slide {
    padding: 0px 10px;
  }

  .box {
    width: 100%;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba($color: #92278f, $alpha: 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    position: relative;
    z-index: 9;
    overflow: hidden;
    transition: all .3s linear;

    &::after {
      content: '';
      position: absolute;
      width: 100px;
      height: 100px;
      background: url('../images/qoute.svg') bottom left/ contain no-repeat;
      bottom: 0;
      opacity: .4;
      left: 10px;
      z-index: -1;
    }

    .image-content img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }

    h2 {
      color: #000;
      font-size: 20px;
      font-weight: 900;
      margin: 20px 0px;
    }

    p {
      color: #808088;
      font-size: 15px;
      font-weight: 500;
      line-height: 2rem;
    }

    &:hover {
      transform: translateY(-10px);
    }
  }
}

.shipping {
  width: 100%;
  padding: 40px 0px 10px 0px;
  background-color: #fff;

  .box {
    width: 100%;
    background-color: #92278f;
    border-radius: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 10px;
    transition: all .3s linear;

    img {
      width: 70px;
      height: 70px;
      object-fit: contain;
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(331deg) brightness(104%) contrast(105%);
      transition: all .3s linear;
    }

    p {
      color: #fff;
      font-size: 15px;
      font-weight: 700;
      text-align: center;
      margin: 20px 0px 0px !important;
    }

    &:hover {
      transform: translateY(-10px);

      img {
        animation: tada .4s linear;
      }
    }
  }
}

footer {
  width: 100%;
  padding: 40px 0px 10px 0px;
  background-color: #f8f8f8;

  .content {
    width: 100%;

    .brand-name img {
      width: 200px;
      height: 70px;
      object-fit: contain;
    }

    p {
      color: #808080;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.8rem;
      margin: 20px 0px;
    }

    .socail-media {
      display: flex;
      align-items: center;
      align-content: center;

      li {
        margin-inline-end: 10px;

        &:last-child {
          margin: 0px;
        }

        a {
          img {
            width: 24px;
            height: 24px;
            object-fit: contain;
            opacity: .3;
            filter: invert(39%) sepia(61%) saturate(1531%) hue-rotate(146deg) brightness(99%) contrast(101%);
            transition: all .3s linear;
          }

          &:hover img {
            opacity: 1;
            animation: tada .4s linear;
          }
        }
      }
    }

    h1 {
      font-size: 25px;
      font-weight: 900;
      color: #92278f;
      margin-bottom: 24px;
    }

    .links-contain {
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: space-between;

      .links {
        width: 40%;

        li {
          margin-bottom: 15px;

          &:last-child {
            margin: 0px;
          }

          a {
            color: #000;
            font-size: 13px;
            font-weight: 500;
            
            &:hover {
              color: #92278f;
            }
          }
        }
      }
    }

    .form-contain .form-group {
      width: 100%;
      height: 50px;
      position: relative;
      margin-bottom: 25px;

      .form-control {
        width: 100%;
        height: 100%;
        background-color: #fff;
        border: 1px solid #92278f;
        border-radius: 50px;
        padding: 0px 20px;
        color: #000;
        font-size: 15px;
        font-weight: 500;
        padding-inline-end: 120px !important;

        &::placeholder {
          font-size: 15px;
          font-weight: 500;
          color: #888;
        }
      }

      .search-btn {
        width: 100px;
        height: 40px;
        border: 0px;
        outline: none;
        border-radius: 50px;
        background: linear-gradient(90deg, #92278f, #92278f);
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        font-size: 15px;
        font-weight: 500;
        color: #fff;
        position: absolute;
        top: calc(50% - 20px) ;
        left: 5px;

        &:hover {
          background: linear-gradient(90deg, #92278f, #92278f);
        }
      }
    }

    .list {
      display: flex;
      align-items: center;
      align-content: center;

      li {
        margin-inline-end: 10px;

        &:last-child {
          margin: 0px !important
        }

        img {
          width: 120px;
          height: 50px;
          object-fit: contain;
          object-position: center;
        }
      }
    }
  }

  .copyrigths {
    margin-top: 25px;
    padding-top: 15px;
    border-top: 1px solid #808080;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    p {
      color: #000;
      font-size: 15px;
      font-weight: 500;
      margin: 0px;
    }

    

    .payment {
      width: 200px;
      height: 40px;
      object-fit: contain;
      margin-top: 10px;
    }
  }
}

.list-numbers {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 10px;

  li {
    margin-inline-end: 10px;

    a {
      width: 50px;
      height: 50px;
      border: 1px solid var(--secondary);
      background-color: #fff;
      border-radius: 10px;
      color: var(--secondary);
      font-size: 15px;
      font-weight: 500;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;

      &.active, &:hover {
        background-color: var(--secondary);
        color: #fff;
      }
    }
  }
}

.sub-header {
  width: 100%;
  padding: 150px 0px 50px 0px;
  background: #f4f7fc;

  .content {
    width: 100%;
    text-align: center;

    h1 {
      color: var(--secondary);
      font-size: 25px;
      font-weight: 900;
      margin-bottom: 20px;
    }

    .sub-header-list {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;

      li {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;

        &::after {
          content: '';
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: var(--secondary);
          display: inline-block;
          margin: 0px 10px;
        }

        &:last-child::after {
          display: none;
        }

        a {
          color: var(--dark);
          font-size: 15px;
          font-weight: 500;
        }

        span {
          color: var(--secondary);
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }
}

.form-contain {
  .form-group {
    width: 100%;
    height: 50px;
    position: relative;
    margin-bottom: 25px;

    .form-control {
      width: 100%;
      height: 100%;
      background-color: #fff;
      border: 1px solid #92278f;
      border-radius: 50px;
      padding: 0px 20px;
      color: #000;
      font-size: 15px;
      font-weight: 500;
      padding-inline-end: 120px !important;

      &::placeholder {
        font-size: 15px;
        font-weight: 500;
        color: #888;
      }
    }
  }
}

.modal-content {

  .modal-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .form-group {
    margin-bottom: 15px !important;
  }

  .form-map  {
    width: 100%;
    height: 200px;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .buttons-contain {
    justify-content: center;
  }

  h2 {
    color: var(--secondary);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }

  img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin: auto;
  }

  .form-contain .form-group {
    width: 100%;
    height: 50px;
    position: relative;
    margin-bottom: 25px;

    .form-control {
      width: 100%;
      height: 100%;
      background-color: #fff;
      border: 1px solid #92278f;
      border-radius: 50px;
      padding: 0px 20px;
      color: #000;
      font-size: 15px;
      font-weight: 500;
      padding-inline-end: 120px !important;

      &::placeholder {
        font-size: 15px;
        font-weight: 500;
        color: #888;
      }
    }

    .search-btn {
      width: 100px;
      height: 40px;
      border: 0px;
      outline: none;
      border-radius: 50px;
      background: linear-gradient(90deg, #92278f, #92278f);
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      font-size: 15px;
      font-weight: 500;
      color: #fff;
      position: absolute;
      top: calc(50% - 20px) ;
      left: 5px;

      &:hover {
        background: linear-gradient(90deg, #92278f, #92278f);
      }
    }
  }

  .close {
    width: 30px;
    height: 30px;
    background-color: #92278f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: #fff;
    opacity: 1 !important;
  }
}

.contact-us {
  width: 100%;
  padding: 30px 0px;

  .form-contain {
    width: 100%;
    padding: 30px 15px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: .05);

    .form-group.textarea {
      height: 100px !important;
      border-radius: 5px !important;
      
      .form-control {
        resize: none !important;
        border-radius: 15px !important;
        height: 100%;
        padding: 10px 10px;
      }
    }

    .buttons-contain {
      justify-content: center !important;

      .btn-contain {
        width: 100% !important;
        border-radius: 40px !important;
      }
    }
  }

  .contact-shape {
    width: 100%;
    padding: 40px 15px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: .05);
    border-radius: 30px;

    .box {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      padding: 32px 0px;

      &:first-child {
        padding-top: 0px !important;
      }

      &:last-child {
        padding-bottom: 0px !important;
      }

      &:nth-child(2) {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
      }

      img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        margin-bottom: 20px;
      }

      p {
        color: #000;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 0px;
      }

      &:hover {
        img {
          animation: tada .4s linear;
        }
      }
    }
  }

  .map-contain {
    width: 100%;
    height: 400px;
    border-radius: 30px;
    overflow: hidden;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.page-loader {
  width: 100%;
  height: 100%;
  padding: 20px 0px !important;
  background-color: rgba($color: #92278f, $alpha: .5) ;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  align-content: center;
  z-index: 999999;

  .spinner {
    width: 128px;
    height: 128px;
    border: 3px solid var(--light);
    border-bottom: 3px solid transparent;
    border-radius: 50%;
    position: relative;
    animation: spin 1s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    .inner {
      width: 64px;
      height: 64px;
      border: 3px solid transparent;
      border-top: 3px solid  var(--light);
      border-radius: 50%;
      animation: spinInner 1s linear infinite;
    }
  }
}

.fixed-icon {
  width: 40px;
  height: 40px;
  background-color: var(--secondary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 99;

  img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(237deg) brightness(103%) contrast(104%);
  }
}

.form-contain .form-group .form-control {
  padding-inline-end: 0px !important;
}

@import 'media';